<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Komwel Admin Agregar Marca</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
<div class="container"><br>
    <h1 style="color:red">Formulario de Registro de Marcas</h1>
    <form class="col-5" th:action="@{/admin/guardarMarca}" th:object="${marca}" method="post">

        <div class="mb-3">
            <label for="inputNombre" class="form-label">Nombre de la Marca</label>
            <input type="text" th:field="*{nombre}" class="form-control" id="inputNombre">
        </div>

        <button type="submit" class="btn btn-success">Crear Marca</button>
    </form>

    <br>
    <a th:href="@{/admin/dashboard}">Ir al Dashboard</a>

    <a th:href="@{/admin/marcas}">Volver a Categorias</a>

</div>

</body>

</html>